In [2]:
import geopandas as gpd
import pathlib
import random
from functools import reduce
from collections import defaultdict

import pandas as pd
import geopandas as gpd
import folium
import shapely
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm
import sklearn.cluster

In [3]:
import numpy as np

In [4]:
import folium

In [5]:
import pandas as pd

In [26]:
# point 형식의 파출소지구대 geojson 파일 불러옴
파출소지구대 = gpd.read_file('suwon_police_all.geojson')
파출소지구대

       Name                    geometry
0   장안문 지구대  POINT (127.00950 37.29568)
1    당수 파출소  POINT (126.94179 37.29168)
2   화서문 지구대  POINT (126.99312 37.28671)
3    율천 파출소  POINT (126.97162 37.29790)
4   창룡문 파출소  POINT (127.02190 37.29101)
5    매탄 지구대  POINT (127.03992 37.26508)
6    곡선 지구대  POINT (127.02989 37.25180)
7    인계 파출소  POINT (127.03134 37.27566)
8    세류 파출소  POINT (127.01526 37.24265)
9    광교 파출소  POINT (127.04761 37.28854)
10   유천 파출소  POINT (127.01434 37.26904)
11  호매실 파출소  POINT (126.95154 37.27310)
12   고색 파출소  POINT (126.98623 37.25196)
13   행궁 파출소  POINT (127.02131 37.28293)
14   동부 파출소  POINT (127.02958 37.28085)
15   산남 지구대  POINT (127.05300 37.26860)
16   영통 지구대  POINT (127.07777 37.25477)
17   권선 파출소  POINT (127.02951 37.25977)
18   태장 파출소  POINT (127.05537 37.24027)
19   매산 지구대  POINT (126.99984 37.26607)
20   고등 파출소  POINT (127.00245 37.27302)
21   서호 지구대  POINT (126.97131 37.28068)
22   노송 지구대  POINT (126.98795 37.31031)

In [27]:
파출소지구대['geometry'] = 파출소지구대.buffer(5000) #5000m 
파출소지구대 = 파출소지구대.to_crs(epsg=4326)  #좌표계를 epsg 4326로 변환

<ipython-input-27-164de7770c35>:1: UserWarning: Geometry is in a geographic CRS. Results from 'buffer' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  파출소지구대['geometry'] = 파출소지구대.buffer(5000) #5000m

In [28]:
파출소지구대

       Name                                           geometry
0   장안문 지구대  POLYGON ((5127.010 37.296, 5102.933 -452.790, ...
1    당수 파출소  POLYGON ((5126.942 37.292, 5102.865 -452.794, ...
2   화서문 지구대  POLYGON ((5126.993 37.287, 5102.917 -452.799, ...
3    율천 파출소  POLYGON ((5126.972 37.298, 5102.895 -452.788, ...
4   창룡문 파출소  POLYGON ((5127.022 37.291, 5102.946 -452.795, ...
5    매탄 지구대  POLYGON ((5127.040 37.265, 5102.964 -452.821, ...
6    곡선 지구대  POLYGON ((5127.030 37.252, 5102.954 -452.834, ...
7    인계 파출소  POLYGON ((5127.031 37.276, 5102.955 -452.810, ...
8    세류 파출소  POLYGON ((5127.015 37.243, 5102.939 -452.843, ...
9    광교 파출소  POLYGON ((5127.048 37.289, 5102.971 -452.797, ...
10   유천 파출소  POLYGON ((5127.014 37.269, 5102.938 -452.817, ...
11  호매실 파출소  POLYGON ((5126.952 37.273, 5102.875 -452.813, ...
12   고색 파출소  POLYGON ((5126.986 37.252, 5102.910 -452.834, ...
13   행궁 파출소  POLYGON ((5127.021 37.283, 5102.945 -452.803, ...
14   동부 파출소  POLYGON ((5127.030 37.281, 5102.953 -452.805, ...
15   산남 지구대  POLYGON ((5127.053 37.269, 5102.977 -452.817, ...
16   영통 지구대  POLYGON ((5127.078 37.255, 5103.001 -452.831, ...
17   권선 파출소  POLYGON ((5127.030 37.260, 5102.953 -452.826, ...
18   태장 파출소  POLYGON ((5127.055 37.240, 5102.979 -452.845, ...
19   매산 지구대  POLYGON ((5127.000 37.266, 5102.923 -452.820, ...
20   고등 파출소  POLYGON ((5127.002 37.273, 5102.926 -452.813, ...
21   서호 지구대  POLYGON ((5126.971 37.281, 5102.895 -452.805, ...
22   노송 지구대  POLYGON ((5126.988 37.310, 5102.912 -452.775, ...

In [9]:
import folium
import json
import pandas as pd
import numpy as np
import geopandas as gpd
import fiona
import os
import seaborn as sns
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, LineString, Point
from tqdm import tqdm

In [20]:
data3 = pd.read_csv("data_final_MinMaxScaler.csv")
data3

,gid,geometry,경도,위도,여성인구비율,cctv개수,가로등개수,경찰서접근성,총점
0,다사51a19a,MULTIPOLYGON (((126.9473422052434 37.268619788...,126.950145,37.270886,0.236652,0.000000,0.078652,0.974799,1.132800
1,다사51a20a,MULTIPOLYGON (((126.9472763125004 37.277633381...,126.950080,37.279900,0.228014,0.000000,0.033708,0.905186,1.099493
2,다사59a21a,MULTIPOLYGON (((127.0374588078356 37.287034030...,127.040265,37.289298,1.000000,0.000000,0.082397,0.101242,1.018845
3,다사58b23b,MULTIPOLYGON (((127.0316785405179 37.309546037...,127.034486,37.311811,0.235469,0.000000,0.071161,0.806428,0.970736
4,다사62a21b,MULTIPOLYGON (((127.0712768150881 37.291668310...,127.074085,37.293932,0.227001,0.000000,0.123596,0.694449,0.797854
...,...,...,...,...,...,...,...,...,...
327,다사62a16b,MULTIPOLYGON (((127.0715322692303 37.246599477...,127.074338,37.248863,0.233027,0.666667,0.333333,0.092915,-0.674059
328,다사55b18b,MULTIPOLYGON (((126.9981245359784 37.264338996...,127.000929,37.266604,0.140993,0.666667,0.277154,0.060336,-0.742491
329,다사53a22a,MULTIPOLYGON (((126.9697090706761 37.295763777...,126.972514,37.298030,0.173139,0.500000,0.426966,0.000000,-0.753827
330,다사59b18b,MULTIPOLYGON (((127.0432355639738 37.264521633...,127.046042,37.266786,0.258794,1.000000,0.123596,0.091746,-0.773056
331,다사52b22b,MULTIPOLYGON (((126.9640359249117 37.300245157...,126.966841,37.302511,0.212467,1.000000,0.352060,0.058875,-1.080718

In [21]:
data3 = data3[["gid","위도","경도"]]

In [22]:
data3

          gid         위도          경도
0    다사51a19a  37.270886  126.950145
1    다사51a20a  37.279900  126.950080
2    다사59a21a  37.289298  127.040265
3    다사58b23b  37.311811  127.034486
4    다사62a21b  37.293932  127.074085
..        ...        ...         ...
327  다사62a16b  37.248863  127.074338
328  다사55b18b  37.266604  127.000929
329  다사53a22a  37.298030  126.972514
330  다사59b18b  37.266786  127.046042
331  다사52b22b  37.302511  126.966841

[332 rows x 3 columns]

In [23]:
data3['sub_cnt']=1
data3['경도'] = data3['경도'].astype(float)
data3['위도'] = data3['위도'].astype(float)
data3['point'] = data3.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)
data3 = gpd.GeoDataFrame(data3, geometry='point')

<ipython-input-23-9f078b38371f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['sub_cnt']=1
<ipython-input-23-9f078b38371f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['경도'] = data3['경도'].astype(float)
<ipython-input-23-9f078b38371f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['위도'] = data3['위도'].astype(float)
<ipython-input-23-9f078b38371f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['point'] = data3.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [24]:
gid_list = []
for i in tqdm(range(data3.shape[0])):
    point = data3['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['POL_NM'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|███████████████████████████████████████████████████████████████████████████████| 332/332 [00:00<00:00, 483.21it/s]

In [25]:
gid_list

['호매실지구대',
 '호매실지구대',
 '동부파출소',
 '광교지구대',
 '산남지구대',
 '노송지구대',
 '장안문지구대',
 '서호지구대',
 '산남지구대',
 '광교지구대',
 '고색파출소',
 '장안문지구대',
 '호매실지구대',
 '산남지구대',
 '고색파출소',
 '호매실지구대',
 '고색파출소',
 '매탄지구대',
 '산남지구대',
 '산남지구대',
 '산남지구대',
 '호매실지구대',
 '고색파출소',
 '장안문지구대',
 '장안문지구대',
 '광교지구대',
 '호매실지구대',
 '당수파출소',
 '장안문지구대',
 '태장파출소',
 '동부파출소',
 '고색파출소',
 '곡선지구대',
 '호매실지구대',
 '서호지구대',
 '행궁파출소',
 '광교지구대',
 '호매실지구대',
 '당수파출소',
 '고색파출소',
 '노송지구대',
 '장안문지구대',
 '당수파출소',
 '노송지구대',
 '매탄지구대',
 '매산지구대',
 '서호지구대',
 '영통지구대',
 '호매실지구대',
 '세류지구대',
 '서호지구대',
 '당수파출소',
 '광교지구대',
 '산남지구대',
 '노송지구대',
 '노송지구대',
 '호매실지구대',
 '호매실지구대',
 '산남지구대',
 '산남지구대',
 '매탄지구대',
 '노송지구대',
 '태장파출소',
 '서호지구대',
 '영통지구대',
 '동부파출소',
 '산남지구대',
 '율천파출소',
 '곡선지구대',
 '영통지구대',
 '영통지구대',
 '세류지구대',
 '당수파출소',
 '태장파출소',
 '인계파출소',
 '고색파출소',
 '장안문지구대',
 '광교지구대',
 '장안문지구대',
 '권선파출소',
 '산남지구대',
 '매탄지구대',
 '장안문지구대',
 '인계파출소',
 '노송지구대',
 '호매실지구대',
 '광교지구대',
 '세류지구대',
 '산남지구대',
 '호매실지구대',
 '고색파출소',
 '화서문지구대',
 '호매실지구대',
 '서호지구대',
 '산남지구대',
 '광교지구대',
 '고등파출소',
 '서호지구대',
 '장안문지구대',
 '권선파출소',
 '고색파출소',
 '호매실지구대',
 '매탄지구대',
 '호매실지구대',
 '태장파출소',
 '고색파출소',
 '화서문지구대',
 '매탄지구대',
 '화서문지구대',
 '노송지구대',
 '인계파출소',
 '노송지구대',
 '노송지구대',
 '광교지구대',
 '호매실지구대',
 '영통지구대',
 '산남지구대',
 '노송지구대',
 '장안문지구대',
 '태장파출소',
 '영통지구대',
 '권선파출소',
 '노송지구대',
 '고색파출소',
 '매탄지구대',
 '노송지구대',
 '노송지구대',
 '당수파출소',
 '장안문지구대',
 '광교지구대',
 '권선파출소',
 '장안문지구대',
 '세류지구대',
 '매탄지구대',
 '광교지구대',
 '영통지구대',
 '고색파출소',
 '매탄지구대',
 '매탄지구대',
 '서호지구대',
 '산남지구대',
 '권선파출소',
 '율천파출소',
 '권선파출소',
 '노송지구대',
 '고색파출소',
 '인계파출소',
 '당수파출소',
 '광교지구대',
 '영통지구대',
 '고색파출소',
 '산남지구대',
 '서호지구대',
 '고색파출소',
 '당수파출소',
 '율천파출소',
 '호매실지구대',
 '광교지구대',
 '광교지구대',
 '태장파출소',
 '인계파출소',
 '산남지구대',
 '화서문지구대',
 '노송지구대',
 '호매실지구대',
 '노송지구대',
 '당수파출소',
 '영통지구대',
 '노송지구대',
 '매산지구대',
 '서호지구대',
 '매탄지구대',
 '광교지구대',
 '매탄지구대',
 '영통지구대',
 '서호지구대',
 '산남지구대',
 '곡선지구대',
 '당수파출소',
 '태장파출소',
 '광교지구대',
 '산남지구대',
 '동부파출소',
 '유천파출소',
 '노송지구대',
 '권선파출소',
 '서호지구대',
 '산남지구대',
 '서호지구대',
 '동부파출소',
 '태장파출소',
 '노송지구대',
 '행궁파출소',
 '노송지구대',
 '호매실지구대',
 '권선파출소',
 '장안문지구대',
 '화서문지구대',
 '노송지구대',
 '태장파출소',
 '광교지구대',
 '노송지구대',
 '매탄지구대',
 '행궁파출소',
 '고색파출소',
 '인계파출소',
 '동부파출소',
 '세류지구대',
 '서호지구대',
 '영통지구대',
 '인계파출소',
 '장안문지구대',
 '호매실지구대',
 '당수파출소',
 '노송지구대',
 '광교지구대',
 '영통지구대',
 '화서문지구대',
 '고등파출소',
 '고색파출소',
 '권선파출소',
 '서호지구대',
 '창룡문지구대',
 '창룡문지구대',
 '서호지구대',
 '영통지구대',
 '고색파출소',
 '태장파출소',
 '호매실지구대',
 '권선파출소',
 '태장파출소',
 '산남지구대',
 '서호지구대',
 '산남지구대',
 '고색파출소',
 '노송지구대',
 '화서문지구대',
 '고색파출소',
 '권선파출소',
 '서호지구대',
 '장안문지구대',
 '호매실지구대',
 '동부파출소',
 '노송지구대',
 '태장파출소',
 '권선파출소',
 '동부파출소',
 '영통지구대',
 '산남지구대',
 '고색파출소',
 '권선파출소',
 '인계파출소',
 '화서문지구대',
 '산남지구대',
 '장안문지구대',
 '호매실지구대',
 '장안문지구대',
 '동부파출소',
 '동부파출소',
 '고색파출소',
 '고색파출소',
 '매탄지구대',
 '인계파출소',
 '화서문지구대',
 '창룡문지구대',
 '광교지구대',
 '인계파출소',
 '권선파출소',
 '매탄지구대',
 '광교지구대',
 '고등파출소',
 '서호지구대',
 '화서문지구대',
 '유천파출소',
 '광교지구대',
 '고색파출소',
 '고등파출소',
 '고색파출소',
 '고색파출소',
 '노송지구대',
 '당수파출소',
 '세류지구대',
 '장안문지구대',
 '영통지구대',
 '서호지구대',
 '태장파출소',
 '행궁파출소',
 '행궁파출소',
 '세류지구대',
 '서호지구대',
 '노송지구대',
 '행궁파출소',
 '호매실지구대',
 '장안문지구대',
 '곡선지구대',
 '호매실지구대',
 '장안문지구대',
 '서호지구대',
 '장안문지구대',
 '유천파출소',
 '화서문지구대',
 '화서문지구대',
 '권선파출소',
 '화서문지구대',
 '세류지구대',
 '권선파출소',
 '노송지구대',
 '유천파출소',
 '세류지구대',
 '태장파출소',
 '광교지구대',
 '노송지구대',
 '세류지구대',
 '매탄지구대',
 '세류지구대',
 '매탄지구대',
 '권선파출소',
 '노송지구대',
 '영통지구대',
 '창룡문지구대',
 '곡선지구대',
 '호매실지구대',
 '세류지구대',
 '화서문지구대',
 '광교지구대',
 '율천파출소',
 '노송지구대',
 '영통지구대',
 '매산지구대',
 '율천파출소',
 '매탄지구대',
 '율천파출소']

In [26]:
data3['gid'] = gid_list

In [28]:
data3

        gid         위도          경도  sub_cnt                       point
0    호매실지구대  37.270886  126.950145        1  POINT (126.95015 37.27089)
1    호매실지구대  37.279900  126.950080        1  POINT (126.95008 37.27990)
2     동부파출소  37.289298  127.040265        1  POINT (127.04027 37.28930)
3     광교지구대  37.311811  127.034486        1  POINT (127.03449 37.31181)
4     산남지구대  37.293932  127.074085        1  POINT (127.07408 37.29393)
..      ...        ...         ...      ...                         ...
327   영통지구대  37.248863  127.074338        1  POINT (127.07434 37.24886)
328   매산지구대  37.266604  127.000929        1  POINT (127.00093 37.26660)
329   율천파출소  37.298030  126.972514        1  POINT (126.97251 37.29803)
330   매탄지구대  37.266786  127.046042        1  POINT (127.04604 37.26679)
331   율천파출소  37.302511  126.966841        1  POINT (126.96684 37.30251)

[332 rows x 5 columns]

In [29]:
data3.to_csv("output/suwon_police_allocate.csv")

In [17]:
data3['gid'] = gid_list
data3['TL_cnt']=1
result3 = data3[['TL_cnt', 'gid']].groupby(['gid']).sum()
result3.reset_index(inplace=True)
data3 =result3

In [18]:
data3

       gid  TL_cnt
0    고등파출소       4
1    고색파출소      26
2    곡선지구대       5
3    광교지구대      23
4    권선파출소      17
5    노송지구대      32
6    당수파출소      12
7    동부파출소      10
8    매산지구대       3
9    매탄지구대      18
10   산남지구대      24
11   서호지구대      22
12   세류지구대      12
13   영통지구대      17
14   유천파출소       4
15   율천파출소       6
16   인계파출소      10
17  장안문지구대      22
18  창룡문지구대       4
19   태장파출소      14
20   행궁파출소       6
21  호매실지구대      27
22  화서문지구대      14